$color-primary: #003e35;
$color-accent: #ffd6af;
$color-success: #00856f;
$font-main: 'Helvetica Neue', sans-serif;

body {
  font-family: $font-main;
  color: #000;
  background-color: #fff;
}

.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover {
    background-color: darken($color-primary, 7%);
  }
}

.btn-outline-primary {
  color: $color-primary;
  border-color: $color-primary;
  &:hover {
    background-color: $color-primary;
    color: #fff;
  }
}

.btn-success {
  background-color: $color-success;
  border-color: $color-success;
}

.btn-accent {
  background-color: $color-accent;
  border: none;
  &:hover {
    background-color: darken($color-accent, 5%);
  }
}

.text-accent {
  color: $color-accent !important;
}

footer {
  .link-primary {
    color: $color-primary !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Modal customization */
.modal-content {
  border-radius: 1rem;
  background-color: #fff;
  .form-control {
    border-radius: 0.5rem;
    padding: 0.75rem;
  }
  .btn-primary {
    background-color: $color-primary;
    border: none;
    font-weight: 600;
  }
  .modal-header {
    text-align: center;
    .btn-close {
      filter: invert(0.4);
    }
  }
}
.nav-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;

  .nav-item {
    margin: 0 1.2rem;
  }

  .nav-link {
    border: none;
    background: none;
    color: #212529;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    position: relative;
    padding: 0.5rem 0;

    &:hover {
      color: #00856f;
    }

    &.active {
      color: #00856f;
      font-weight: 500;

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #00856f;
        border-radius: 2px;
      }
    }
  }
}
